.content {	
	margin-left: 10rem;
	margin-right: 9rem;
	text-align: center;
	font-family: 'Archivo Narrow', sans-serif;
}

.content h1 {
	border: 1px #e5d5d0;
	padding: 5px 10px;
	background-color: #e5d5d0;
	border-radius: 5px;
}

/*------------Start CSS Jumbotron------------*/
.jumbotron {
	background-color: #e5d5d0;
}

.jumbotron img {
	height: 290px;
	/*border: 5px solid silver;*/
	box-shadow: 5px 5px 8px dimgray;
}

/*------------End CSS Jumbotron------------*/


/*------------Start CSS Stock & Title------------*/
.stock {
	position: absolute;
	color: gray;
	font-size: 14px;
}

.title {
	font-weight: bold;
}
/*------------End CSS Stock & Title------------*/


/*------------Start CSS ratingStar------------*/
.ratingStar {
	margin: auto;
	transform: rotateY(180deg);
}

.ratingStar input {
	display: none;
}

.ratingStar label {
	width: 14px;
	height: 20px;
	/*background: yellow;*/
	cursor: pointer;
	margin-bottom: 0px;
	font-size: 17px;
}

.ratingStar label::before {
	content: '\f005';
	font-family: fontAwesome;
	display: block;
	color: dimgray;
}

.ratingStar label::after {
	content: '\f005';
	font-family: fontAwesome;
	display: block;
	color: gold;
	position: relative;
	bottom: 26px;
	opacity: 0;
	transition: .3s;
	text-shadow: -1px 2px 3px dimgray;
}

.ratingStar label:hover::after,
.ratingStar label:hover ~ label::after,
.ratingStar input:checked ~ label::after {
	opacity: 1;
}

/*------------End CSS ratingStar------------*/


/*------------Start <hr> setting------------*/
.summary {
	padding: 24px 32px 16px 32px;
	border-right: 4px dotted black;
	border-left: 4px dotted black;
	border-bottom: 4px dotted black;

}

.summary hr {
	width: 30%;
	border-top: 4px solid #c13f23;
	margin: auto;
}
/*------------End <hr> setting------------*/


/*------------ Information section ------------*/
.col-sm-5 {
	padding-left: 11%;
}
/*------------ Information section ------------*/



/*------------ Review section ------------*/
.reviewBox {
	width: 40%;
	/*background-color: yellow;*/
	margin: auto;
}

.textbox {
	width: 100%;
	/*font-size: 130%;*/
	line-height: 35px;
	padding-top: 5px;
	padding-bottom: 0;
	margin: 8px 0;
	border-bottom: 2px solid #c13f23;
}

.textbox input {
	border: none;
	outline: none;
	background: none;
	margin-left: 0px;
	font-size: 17px;
	width: 90%;
}

.review  {
	width: 100%;
	border-color: #c13f23;
	border-radius: 10px;
	background: none;
	font-size: 15px;
	margin-bottom: 12px;
	outline: none;
}

.submit {
	width: 70%;
	background: none;
	border: 2px solid #c13f23;
	border-radius: 100px;
	padding: 5px;
	font-size: 15px;
	cursor: pointer;
	margin: 12px 0;
}

.submit:hover {
	background: #c13f23;
	color: white;
	font-weight: bold;
}

.submit:active {
	width: 73%;
	line-height: 28px;
	font-size: 18px;
}
/*------------ Review section ------------*/

































